<!DOCTYPE html>
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "Bootstrap330/css/bootstrap.min.css" %}" />	


<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}光学室信息管理系统{% endblock %}</title>
</head>

<body>
    <div class="container">
	<div class="page-header" id="title">
		<h1 align=center><img class="img-circle" src="{% static "sipo-logo.jpg" %}" width=1.5em/>审协河南中心光电部光学室信息管理系统</h1>
	</div>
	<ul class="nav nav-tabs" id="navibar" role="tablist">
			<li><a href = "/">首页</a></li>
			<li><a href = "/task_submit/">任务量</a></li>
            <li><a href="/accounts/">个人管理</a><li>
	</ul>
	<div class="container" id="sidebar">
		<p>当前时间：{% now "Y-m-d H:i:s" %}。</p>
		{% if user.is_authenticated %}
			<p>欢迎你，{{user.username}}。<a href = "/accounts/logout/">退出</p>
		{% else %}
			<p>请<a href = "/accounts/login/">登录。</a></p>
		{% endif %}

		{% block sidebar %}
		<ul>
			{% block new_sidebar_list %}
			{% endblock %}
		</ul>
		{% endblock %}
	</div>
	
	<hr>
	
	<div class="container" id="content" align=center>
		{% block content %}
		{% endblock %}
	</div>
	
	<hr>
	<div id="bottom-section">
		<p align = center>光学室信息管理系统，使用Python及Django框架开发，内含重要信息，仅供内部使用，请勿随意发布至互联网。</p>
	</div>
    </div>
</body>
</html>
